.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 49px;
  height: 72px;
  text-align: center;
  font-family: var(--font-main_2);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  border-radius: 66px;
  cursor: pointer;
}
.title {
  color: var(--color-main_3);
  font-family: var(--font-main_1);
}
.stages-transformation-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.333% - 20px), auto));
  gap: 20px;
  margin-top: 54px;
}
@media (max-width: 1230px) {
  .stages-transformation-list {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), auto));
  }
}
@media (max-width: 770px) {
  .stages-transformation-list {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% - 20px), auto));
  }
}
@media (max-width: 395px) {
  .stages-transformation-list {
    display: none;
  }
}
.stages-transformation-wrapper-mobile {
  overflow: auto;
  width: 335px;
}
.stages-transformation-list.mobile {
  display: none;
  grid-template-columns: repeat(5, minmax(335px, 1fr));
}
@media (max-width: 395px) {
  .stages-transformation-list.mobile {
    display: grid;
  }
}
