.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 49px;
  height: 72px;
  text-align: center;
  font-family: var(--font-main_2);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  border-radius: 66px;
  cursor: pointer;
}
.title {
  color: var(--color-main_3);
  font-family: var(--font-main_1);
}
.stages-transformation-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.333% - 20px), auto));
  gap: 20px;
  margin-top: 54px;
}
@media (max-width: 1230px) {
  .stages-transformation-list {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), auto));
  }
}
@media (max-width: 770px) {
  .stages-transformation-list {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% - 20px), auto));
  }
}
.stages-transformation-list__item {
  position: relative;
  display: grid;
  grid-template-columns: 36px 1fr;
  gap: 16px;
  padding: 20px;
  background-color: var(--color-main_1);
}
.stages-transformation-list__item:nth-child(5) > span:last-child {
  max-width: 240px;
}
.stages-transformation-list__item:nth-child(3) {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}
@media (max-width: 1230px) {
  .stages-transformation-list__item:nth-child(3) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}
.stages-transformation-list__item:nth-child(7) {
  grid-template-columns: 36px minmax(auto, 446px) 1fr;
  grid-column: 2 / span 2;
}
@media (max-width: 1230px) {
  .stages-transformation-list__item:nth-child(7) {
    grid-template-columns: 36px minmax(auto, 100%) 1fr;
    grid-column: 1 / span 2;
  }
}
@media (max-width: 770px) {
  .stages-transformation-list__item:nth-child(7) {
    grid-column: 1 / span 1;
  }
}
.stages-transformation-list__item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: inline-block;
  background-image: url('../img/bg__item.png');
  background-size: cover;
}
.stages-transformation-list__img,
.stages-transformation-list__number,
.stages-transformation-list__description {
  position: relative;
  z-index: 2;
}
.stages-transformation-list__img {
  margin-right: -62px;
  margin-top: -97px;
}
@media (max-width: 1230px) {
  .stages-transformation-list__img {
    justify-self: end;
    margin-top: -77px;
    width: 317px;
  }
}
.stages-transformation-list__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--color-main_6);
  color: var(--color-main_3);
  font-family: var(--font-main_2);
  font-weight: 600;
}
.stages-transformation-list__description {
  display: inline-block;
  color: var(--color-main_3);
  font-family: var(--font-main_2);
  font-size: 20px;
  line-height: 24px;
}
