.stages-transformation-card {
    position: relative;
    display: grid;
    grid-template-columns: 36px 1fr;
    gap: 16px;
    padding: 20px;
    background-color: var(--color-main_1);

    &__left {
        grid-area: left;
    }

    &__right {
        grid-area: right;
    }

    &__left,
    &__right {
        position: relative;
        display: grid;
        grid-template-columns: 36px 1fr;
        gap: 16px;
        padding: 20px;
        background-color: var(--color-main_1);


        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            display: inline-block;
            background-image: url('../img/bg__item.png');
            background-size: cover;
        }
    }

    &:nth-child(5)>span:last-child {
        max-width: 240px;

        @media (max-width: 1230px) {
            max-width: initial;
        }
    }

    &:nth-child(1),
    &:nth-child(3) {
        grid-column: 1 / span 2;
    }

    &:nth-child(2) {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
    }

    &:last-child {
        grid-column: 2 / span 2;
        grid-template-columns: 36px minmax(auto, 446px) 1fr;

    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: inline-block;
        background-image: url('../img/bg__item.png');
        background-size: cover;
    }

    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: var(--color-main_6);
        color: var(--color-main_3);
        font-family: var(--font-main_2);
        font-weight: 600;
    }

    &__description {
        display: inline-block;
        color: var(--color-main_3);
        font-family: var(--font-main_2);
        font-size: 20px;
        line-height: 24px;
    }

    &__img,
    &__number,
    &__description {
        position: relative;
        z-index: 2;
    }

    &__img.desktop {
        margin-right: -62px;
        margin-top: -97px;

        @media (max-width: 1230px) {
            justify-self: end;
            margin-top: -77px;
            width: 317px;
        }

        @media (max-width: 800px) {
            position: absolute;
            margin-top: -55px;
            margin-right: 0;
            width: 160px;
        }
    }
}

.stages-transformation-card.combined {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'left right'
    ;
    gap: 20px;
    background-color: transparent;
    padding: 0;

    &::after {
        content: none;
    }
}

.stages-transformation-card.desktop {}

.stages-transformation-card.mobile {
    padding-top: 62px;
    gap: 28px 16px;
}